.header {
  background-color: #f7ecde;
  padding: 15px 0;
  margin-bottom: 25px;
}

.container {
  max-width: 950px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 500;
}
